<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="NetFramework461.EF6Context, NetFramework461" disableDatabaseInitialization="true" />
    </contexts>
  </entityFramework>
  <connectionStrings>
    <add name="DevPrimeOneEF21" connectionString="Data Source=RAFAEL-DELL\SQL2017;Initial Catalog=DevPrimeOneEF21;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>